# Generated Jekyll soul entry pages (created by scripts/generate_soul_pages.py)
/real_world/*.md
/virtual_world/*.md
/personas/*.md
soul-creator-workspace
soul-creator
scripts/*
tests/*
.bundle
vendor
Gemfile.lock
_site
